.logo {
    box-sizing: border-box;
    /* border: 1px solid #FFF; */
    /* width: 115px;  */
    height: 60px;
    background-color: var(--bg-dark);
    justify-content: center;
    align-items: center;
}
.logo img {
    margin: 5px;
    padding: 7px;

    width: calc(100% - 10px);
    height: calc(100% - 10px);
}